@charset "UTF-8";

button{
    border:1px solid #ddd;
    padding:5px 10px;
}

h1{
    margin-bottom:20px; 
    font-size:30px;
}
p{ 
    padding:20px 0 10px;
    font: {
        size:15px;
        weight:bold;
    }
 }
span{ 
    display:block; 
    padding:5px 0; 
    font-size:15px;
}
dl{ 
    border:1px solid #e9e5dd;
    ~ dl{
        margin-top:10px;
    }
    dt{
        a{
            display:block;
            font: {
                size:19px;
                weight:bold;
            }
            text-decoration:none;
            padding:15px 15px;
        }
    }
    dd{
        padding:0 15px 25px 15px;
    }
}
xmp {
    display: block;
    border: 1px dashed #ddd;
    background: #f7f8fa;
    padding: 0 20px 20px;
    font: {
        size:12px;
        family:"dotum";
    }
    letter-spacing:0;
    color:#666;
    line-height:20px;
    overflow-x:auto;
}
.wrap{ 
    padding:30px;
 }
.btn-area{
    margin:20px 0 20px 0;
}
.site-list {
    margin-top: 5px;
    li a{
        color:blue; 
        text-decoration:underline; 
    }
}
.p_t0{
    padding-top:0;
}